:root {
  --primary: yellow;
  --black: #262626;
  --white: #FFF;
  --fuente-principal: 'Outfit', sans-serif;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 2rem;
  font-family: var(--fuente-principal);
  background-color: black;
  color: white;
  line-height: 1.5;
}

#__next{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer{
  margin-top: auto;
}

img {
  max-width: 100%;
  height: auto;
}

[class*="contenedor"], 
main {
  width: min(95%, 120rem);
  margin: 3rem auto;
}
[class*="heading"] {
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  color: var(--primary);
  margin: 5rem 0;
}

/* Navegacion Header y Footer */
.navegacion{
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  align-items: center;
}

.navegacion a{
  text-decoration: none;
  color:yellow;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.4rem;
  transition-duration: 400ms;
  margin: 3px 0px;
}

.navegacion a:hover{
  color: white;
}

.active{
  color: black;
  background-color: yellow;
  padding: 2px;
}

.boton{
  display: block;
  width: 100%;
  background-color: #ff0;
  border: none;
  padding: 5px 10px;
  font-weight: 700;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
  text-align: center;
  transition: .6s;
  cursor: pointer;
  font-size: 1.7rem;
  justify-self: center;
}

.boton:hover{
  background-color: black;
  color: white;
}

@media(min-width:768px){

  .navegacion{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .navegacion a{
    margin: 0px 10px;
  }

}