.contenedor{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #2b292954;
    padding: 5px;
}

.producto {
    width: 100%;
    margin: 20px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.infoProducto{
    display: flex;
    flex-direction: column;
    width: 10%;
}

.infoProducto h3 {
    font-size: 1.7rem;
    color: yellow;
}

.descripcion{
    display: none;
}

.enlaceProducto{
    display: flex;
    align-items: center;
    width: 30%;
    height: auto;
}

.imagen{
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.precio {
    color: #ff0;
    font-weight: 700;
    display: none;
}

.boton{
    display: inline;
    width: 30%;
    height: 40px;
    background-color: #ff0;
    border: none;
    padding: 5px 10px;
    font-weight: 700;
    border-radius: 4px;
    text-decoration: none;
    color: #000;
    text-align: center;
    transition: .6s;
    cursor: pointer;
    font-size: 1.7rem;
}

@media (min-width: 768px){
.contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
    

.producto{
    width: 30%;
    margin: 10px;
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
}

.enlaceProducto {
    width: 100%;
}


.imagen{
    width: 100%;
    margin: 10px;
}

.infoProducto {
    width: 100%;
    height: 70%;
}

.infoProducto h3{
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 10px;
}

.descripcion {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden
}

.precio {
    margin-top: auto;
    margin-right: auto;
    display: block;
}

.boton {
    width: 100%;
    margin-top: auto;
}

}